* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border: none;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
}
:root {
  --white: #fff;
  --secondary-white: #fafafa;
  --black: #000;
  --general-blue: #85c8ee;
  --secondary-blue: #d3ebf9;
  --grey: #616161;
  --secondary-grey: #b5b5b5;
  --general-red: #ff5d4f;
  --secondary-red: #fd7474e8;
}
@font-face {
  font-family: Roboto;
  src:
    url(../fonts/OpenSans-regular.ttf) format('ttf'),
    local('Open Sans');
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
input[type=email] {
  text-decoration-line: underline;
}
button {
  cursor: pointer;
}