.dropdown {
  position: relative;
  &__container {
    color: var(--secondary-grey);
    background-color: var(--white);
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 36px);
    right: -28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  }
  &__link {
    text-wrap: nowrap;
    font-weight: 700;
    color: var(--grey);
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      margin: 8px 20px;
      font-size: 14px;
    }
    &:hover {
      cursor: pointer;
      color: var(--secondary-grey);
    }
  }
}
