@mixin style {
  content: ' ';
  position: relative;
  top: 12px;
  width: 130px;
  height: 2px;
  background-color: rgba(181, 181, 181, 0.6);
}

.dropdownUser {
  position: absolute;
  top: calc(100% + 24px);
  z-index: 1;
  right: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  color: var(--secondary-grey);
  background-color: var(--white);
  border-radius: 8px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
  }
  &__user {
    margin: 20px 0 28px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  &__link {
    color: var(--grey);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    &:hover {
      color: var(--secondary-grey);
    }
    &:nth-child(2)::after {
      @include style;
    }
    @media (max-width: 768px) {
      &:nth-child(3)::after {
        @include style;
      }
    }
    &-hidden {
      display: none;
      @media (max-width: 768px) {
        display: flex;
      }
    }
  }
  &__button {
    margin: 0 auto 12px;
    color: var(--general-red);
    background-color: var(--white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: var(--secondary-red);
    }
  }
}
