.booksContainer {
  margin: 80px auto 40px;
  border-radius: 16px;
  background-color: var(--white);
  padding: 26px 32px;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    gap: 12px;
    &-all {
      justify-content: space-around;
    }
  }
  &__message {
    color: var(--secondary-grey);
    font-size: 24px;
    font-weight: 600;
    margin: 130px auto 184px;
  }
}
